@use "./config/variables" as v;
@use "./common" as c;


/*********************************
	フォント設定
*********************************/

.font__type--mp {
	font-family: 'mplus';
}

.container {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.flt_banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 393px;
	right: 0;
	margin: auto;
	z-index: 5000;
	padding: 20px 0;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	@include v.bg;
	background-image: url(./../images/flt_bg.png);
	text-align: center;
	@media screen and (max-width: 768px) {
		width: 100%;
	}
	p {
		font-size: 17px;
		color: #242424;
		line-height: 1;
		margin-bottom: 17px;
	}
	a {
		width: 217px;
		justify-content: center;
		font-size: 18px;
		color: #fff;
		border-radius: 7px;
		background-color: #242424;
		margin: auto;
		align-items: center;
		padding: 10px 0;
	}
}

.fadeUpTrigger{
    opacity: 0;
}
.box{
	opacity: 0;
}
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sec__ttl {
	position: relative;
	p {
		font-size: 25px;
		line-height: 1.6em;
		position: relative;
		z-index: 10;
		font-weight: normal;
	}
	span {
		position: absolute;
		font-size: 73px;
		color: #DBDBDB;
		top: -65px;
		left: -40px;
	}
}

p.content__text {
	font-size: 16px;
	line-height: 1.8em;
	letter-spacing: 0.05em;
}
/*********************************
	メインビジュアル
*********************************/
#mv {
	width: 100%;
	position: relative;
	img {
		width: 100%;
	}
	.mv__inner--content {
		position: absolute;
		left: 0;
		right: 0;
		top: 385px;
		width: 100%;
		text-align: center;
		z-index: 10;
		img {
			width: 75%;
		}
		p {
			font-size: 15px;
			text-align: center;
			color: #fff;
			line-height: 2;
			margin-bottom: 2rem;
		}
		div {
			margin-top: 40px;
			p {
				background-color: #D1A0A0;
				color: #fff;
				font-size: 15px;
				padding: 7px 0;
				span {
					font-size: 35px;
					line-height: 1;
				}
			}
		}
	}

	
	
}



/*********************************
	message
*********************************/

#message {
	@include v.bg;
	overflow: hidden;
	padding-bottom: 50px;
	background-image: url(./../images/message_bg.jpg);
	.message__logo {
		text-align: center;
		margin-top: -10px;
		margin-bottom: 80px;
		position: relative;
		z-index: 50;
		img {
			width: 240px;
		}
	}
	.container {
		p {
			margin-top: 30px;
		}
		
	}
	figure {
		position: relative;
		margin-top: 50px;
		img {
			width: 100%;
		}
		figcaption {
			font-size: 21px;
			line-height: 1.42em;
			letter-spacing: 0.025em;
			color: #6E6963;
			position: absolute;
			right: 0;
			bottom: -20px;
		}
	}
}

.slider_right,.slider_left {
	margin-top: 60px;
	div {
		img {
			width: 100%;
		}
	}
}

/*********************************
	about
*********************************/
#about {
	padding-top: 110px;
	overflow: hidden;
	.sec__ttl {
		margin-bottom: 40px;
		p {
			font-size: 17px;
		}
		span {
			line-height: 0.9em;
			top: -55px;
		}
	}
	.about__content {
		margin-bottom: 60px;
		.about__cotent--ttl {
			color: #5A453D;
			font-size: 25px;
			line-height: 1.6;
			margin-top: 23px;
			margin-bottom: 23px;
		}

	}
	.about__content--imgbox {
		figure {
			width: 100%;
			position: relative;
			margin-bottom: 40px;
			img {
				width: 94%;
			}
			figcaption {
				position: absolute;
				bottom: -22px;
				color: #fff;
				background-color: #6E6963;
				padding-top: 0px;
				padding-right: 6px;
				padding-bottom: 0px;
				font-size: 15px;
				line-height: 1.2;
				span {
					font-size: 35px;
					padding: 0 6px;
					display: inline-block;
					&.sm {
						font-size: 28px;
					}
				}
				&.nospan {
					padding: 12px 0;
				}
			}

			p {
				position: absolute;
				color: #fff;
				top: -25px;
				font-size: 55px;
				line-height: 1;
			}
		}
	}
	.about__content--right {
		figure {
			img {
				margin-left: 6%;
			}
			figcaption {
				text-align: left;
				padding-left: 6%;
				left: 0;
				&.nospan {
					padding: 12px 6px 12px 6%;
					font-size: 15px;
				}
			}
			p {
				right: -10px;
			}
		}
	}
	.about__content--left {
		figure {
			img {
				margin-right: 6%;
			}
			figcaption {
				text-align: right;
				padding-right: 6%;
				right: 0;
				padding-left: 10px;
				&.nospan {
					padding: 12px 6% 12px 6px;
					font-size: 17px;
				}
			}
			p {
				left: -10px;
				padding-left: 10px;
		}
	}
}
}



/*********************************
	CONTACT
*********************************/
.contact {
	h2 {
		position: relative;
		z-index: 10;
		color: #6E6963;
		width: 90%;
		margin: auto;
		p {
			font-size: 55px;
			line-height: 1;
			margin-bottom: 10px;
		}
		span {
			font-size: 17px;
			display: block;
		}
	}
	figure {
		margin-top: -55px;
		img {
			width: 100%;
		}
	}
	.contact__wrapper {
		box-sizing: border-box;
		padding: 30px 20px 40px 20px;
		background-color: #EFEFEF;
		margin-top: -20px;
		position: relative;
		z-index: 10;
		p.content__text {
			margin-bottom: 25px;
		}
		.contact__btn {
			width: 216px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 50px;
			text-align: center;
			display: block;
			color: #fff;
			padding: 16px 0;
			span {
				font-size: 21px;
				display: block;
				&:nth-of-type(2) {
					font-size: 15px;
				}
			}
		}
		.contact__btn--line {
			background-color: #00D919;
			margin-bottom: 20px;
		}
		.contact__btn--mail {
			background-color: #6E6963;
			margin-bottom: 20px;
		}
		.contact__btn--insta {
			background-color: #CCC4BB;
		}
	}
}

.contact__under--img {
	img {
		width: 100%;
	}
}

.contact--second {
	margin-top: -50px;
}
/*********************************
	whats
*********************************/
#whats {
	padding-top: 10px;
	img {
		width: 100%;
	}
}

/*********************************
	strong
*********************************/
#strong {
	padding-top: 50px;
	padding-bottom: 20px;
	h2 {
		margin-bottom: 50px;
		width: 95%;
		margin-left: auto;
		strong {
			display: block;
			font-size: 55px;
			line-height: 1;
			color: #6E6963;
		}
		p {
			font-size: 17px;
			font-weight: normal;
			line-height: 1;
			padding: 40px 0;
			background-image: url(./../images/strong_bg.jpg);
			@include v.bg;
			margin-top: -20px;
		}
	}

	.strong__content {
		margin-bottom: 30px;
		h3 {
			text-align: center;
			position: relative;
			padding: 35px 0;
			span {
				display: block;
				color: #6E6963;
				font-weight: normal;
				font-size: 17px;
				position: relative;
				z-index: 20;
			}
			strong {
				position: absolute;
				font-size: 100px;
				color: #EFEFEF;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				line-height: 1;
			}

		}
		figure {
			position: relative;
			margin-bottom: 55px;
			&::before {
				content: "";
				width: 95%;
				height: 100%;
				background-color: #DBDBDB;
				position: absolute;
				bottom: -25px;
				display: block;
			}
			img {
				width: 95%;
				position: relative;
				z-index: 20;
			}
		}
	}
	.strong__content--left {
		figure {
			text-align: left;
			&::before {
				right: 0;
			}
		}
	}
	.strong__content--right {
		figure {
			text-align: right;
			&::before {
				left: 0;
			}
		}
	}
}

/*********************************
	recruit
*********************************/
#recruit {
	background-color: #EFEFEF;
	padding-bottom: 86px;
	h2 {
		img {
			width: 100%;
		}
		margin-bottom: 35px;
	}
	.recruit__wrapper {
		.recruit__content--ttl {
			background-color: #D1A0A0;
			margin-bottom: 18px;
			p {
				color: #fff;
				font-size: 15px;
				text-align: center;
				padding: 0px 0;
				span {
					font-size: 35px;
					display: inline-block;
					padding: 0 6px;
					position: relative;
					bottom: -2px;
				}
			}
		}
		.recruit__content {
			
			dl {
				justify-content: space-between;
				border-bottom: 2px dashed #242424;
				color: #000;
				font-size: 13px;
				padding: 12px 0;
				dt {
					width: 30%;
				}
				dd {
					width: 70%;
					line-height: 1.6em;
					a {
						color: #000;
						text-decoration: underline;
					}
				}
			}

			figure.recruit_content--img {
				margin: 30px 0 10px 0;
				img {
					width: 95%;
				} 
			}
			figure.recruit_content--left {
				text-align: left;
			}
			figure.recruit_content--right {
				text-align: right;
			}

			ul {
				li {
					width: 100%;
					border-bottom: 2px dashed #242424;
					color: #000;
				font-size: 13px;
				padding: 12px 0;
				}
			}
		}
	}

}

/*********************************
	salon
*********************************/
h2.sec_ttl {
	text-align: center;
	font-size: 12px;
	margin-bottom: 40px;
	span {
		border-bottom: 1px solid #000;
		padding-bottom: 8px;
	}
}
#salon {
	margin-top: 128px;
	figure {
		img {
			width: 100%;
		}
	}
	.salon_list {
		margin-top: 70px;
		ul {
			li {
				width: 46%;
				figure {
					margin-bottom: 15px;
					img {
						width: 100%;;
					}
				}
				b {
					font-size: 13px;
					display: block;
					
					margin-bottom: 10px;
					font-family: 'Montserrat', sans-serif;
				}
				p {
					line-height: 1.5;
					font-size: 12px;
					margin-bottom: 20px;
					a {
						color: #000;
						text-decoration: underline;
						margin-top: 20px;
						display: block;
					}
				}
			}
		}
	}
}


/*********************************
	people
*********************************/
#interview {
	padding-top: 60px;
	span.ttl {
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		color: #4A4A4A;
		display: block;
		text-align: center;
		margin-bottom: 20px
	}
	p.people_text {
		font-size: 12px;
		line-height: 1.5;
		margin-bottom: 35px;
		text-align: center;
	}
	ul {
		flex-wrap: wrap;
		li {
			width: 49.5%;
			margin-bottom: 30px;
			figure {
				img {
					width: 100%;
				}
			}
		}
	}
}

/*********************************
	RECRUIT
*********************************/


#recruit {
	figure.logo {
		text-align: center;
		margin-top: 60px;
		margin-bottom: 20px;
		img {
			width: 232px;
		}
		figcaption {
			text-align: center;
			font-family: "baskerville-display-pt", serif;
			display: block;
			font-size: 26px;
			color: #4A4A4A;
			margin-top: 35px;
		}
	}
	figure.recruit_mv {
		img {
			width: 100%;
		}
	}
	.info {
		margin-top: 25px;
		margin-bottom: 25px;
		dl {
			font-size: 14px;
			font-family: "Hiragino Kaku Gothic ProN";
			margin-bottom: 5px;
			&:first-of-type {
				dt {
					border-right: none;
				}
			}
			dt {
				width: 19%;
				border-right: 1px solid #000;
			}
			dd {
				width: 80%;
				padding-left: 5px;
				box-sizing: border-box;
			}
		}
	}
	figure.recruit_text {
		img {
			margin-top: 25px;
			width: 100%;
		}
	}
}

#contact {
	padding-top: 50px;
	font-family: "Hiragino Kaku Gothic ProN";
	figure {
		text-align: center;
	}
	.contact_container {
		background: #EFEFEF;
		padding-top: 55px;
		padding-bottom: 45px;
		.contact_wrapper {
			width: 320px;
			margin: auto;
			h2 {
				text-align: center;
				img {
					width: 193px;
					display: block;
					margin: auto;
					margin-bottom: 20px;
				}
				span {
					display: inline-block;
					font-size: 11px;
					border-bottom: 1px solid #000;
					padding-bottom: 8px;
					padding-right: 10px;
					padding-left: 10px;
				}
			}
			.contact_text {
				padding-top: 24px;
				p {
					font-size: 12px;
					line-height: 1.6;
					text-align: center;
				}
			}
			figure {
				margin-top: 25px;
				margin-bottom: 20px;
				img {
					width: 100%;
				}
			}
			.contact_line {
				text-align: center;
				padding-bottom: 30px;
				border-bottom: 1px solid #000;
				p {
					font-size: 14px;
					line-height: 1.78;
					letter-spacing: 0.08;
					margin-bottom: 8px;
				}
				a {
					text-align: center;
					img {
						width: 72px;
						margin: auto;
					}
				}
			}
			.download {
				margin-top: 25px;
				p {
					font-size: 14px;
					line-height: 1.78;
					letter-spacing: 0.08;
					margin-bottom: 8px;
					text-align: center;
					margin-bottom: 10px;
				}
				ul {
					width: 245px;
					margin-right: auto;
					margin-left: auto;
					li {
						&:nth-child(1) {
							img {
								width: 105px;
							}
						}
						&:nth-child(2) {
							img {
								width: 116px;
							}
						}
					}
				}
			}
		}
	}

	.contact_form {
		margin-top: 40px;
		h3 {
			font-size: 16px;
			margin-bottom: 10px;
			font-weight: normal;
			text-align: center;
			small {
				display: block;
				font-size: 10px;
			}
		}
		div {
			width: 95%;
			margin-right: auto;
			margin-left: auto;
			dl {
				margin-bottom: 15px;
				dt {
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
			input, textarea {
				background-color: #F4F4F4;
				border: none;
				width: 100%;
				padding: 10px;
				box-sizing: border-box;
				outline: none;
				margin: 0;
				font-size: 16px; /* Or any size you want */
				font-family: inherit; /* Or any font family you want */
			}
			input.send {
				background-color: #505050;
				padding: 20px 0;
				color: #fff;
				margin-top: 30px;
			}
			
		}
		.wpcf7 .screen-reader-response {
			width: 1px;
		}
	}
}

#recruit_store {
	padding-top: 60px;
	padding-bottom: 80px;
	figure {
		margin-bottom: 40px;
		overflow: hidden;
		img {
			width: 100%;
			margin-left: 3%;
		}
	}
	ul {
		margin-top: 20px;
		li {
			margin-bottom: 13px;
			img {
				width: 100%;
			}
		}
	}
}

#company {
	figure {
		img {
			width: 100%;
		}
	}
	p {
		font-size: 16px;
		line-height: 2;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	ul {
		width: 100%;
		li {
			margin-bottom: 10px;
			img {
				width: 100%;
			}
		}
	}
}

#footer {
	padding-bottom: 170px;
	padding-top: 60px;
	margin-top: 60px;
	@include v.bg;
	background-image: url(./../images/ft_bg.jpg);
	.ft_logo {
		figure {
			text-align: center;
			img {
				width: 150px;
			}
		}
		margin-bottom: 30px;
	}
	ul { 
		border-top: 1px dashed #4A4A4A;
		margin: auto;
		width: 320px;
		li {
			border-bottom: 1px dashed #4A4A4A;
			padding-bottom: 10px;
			padding-top: 10px;
			a {
				color: #4A4A4A;
				p {
					font-size: 12px;
					font-family: "Hiragino Kaku Gothic ProN";
				}
				span {
					padding-left: 15px;
				}
			}
		}
	}
	figure.ft_bottom {
		text-align: center;
		margin-top: 60px;
		img {
			width: 320px;
		}
	}
}