.profile_mv {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}
.profile_mv small.copyright {
  position: absolute;
  left: 40px;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  .profile_mv small.copyright {
    display: none;
  }
}
.profile_mv h1 {
  margin-bottom: clamp(80px, 20rem, 200px);
  text-align: left;
  position: relative;
  z-index: 20;
}
.profile_mv div {
  position: relative;
  z-index: 20;
}
.profile_mv div span {
  display: block;
  margin-bottom: clamp(70px, 8rem, 80px);
}
@media screen and (max-width: 768px) {
  .profile_mv div span {
    margin-bottom: 40px;
  }
}
.profile_mv div span strong {
  display: block;
  font-size: clamp(20px, 1.5vw, 30px);
  font-weight: normal;
}
.profile_mv div span small {
  font-size: clamp(12px, 0.83vw, 16px);
}
.profile_mv div p {
  font-size: clamp(12px, 0.83vw, 16px);
  line-height: 2.5;
}
.profile_mv .profile_content {
  margin-top: 200px;
}
@media screen and (max-width: 768px) {
  .profile_mv .profile_content {
    margin-top: 375px;
  }
}
.profile_mv .sec_container {
  padding-top: clamp(80px, 20rem, 200px);
  position: relative;
}
@media screen and (max-width: 768px) {
  .profile_mv .sec_container {
    padding-top: 100px;
  }
}
.profile_mv .sec_container .profile_thumb {
  width: 83%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/profile_mv.jpg);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .profile_mv .sec_container .profile_thumb {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    height: 375px;
    top: 125px;
  }
}

#career {
  margin-bottom: clamp(80px, 20rem, 200px);
}
@media screen and (max-width: 768px) {
  #career {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  #career .career_thumb {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 calc(50% - 50vw);
    width: 84vw;
    background-image: url(../../images/career_thumb.jpg);
    height: 450px;
  }
}
#career .sec_container {
  position: relative;
}
#career .sec_container h2 {
  position: absolute;
  right: -90px;
  transform: rotate(90deg);
  top: 115px;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  #career .sec_container h2 {
    right: -40px;
  }
}
#career .sec_container .career_wrap {
  width: 83%;
  position: relative;
}
@media screen and (max-width: 768px) {
  #career .sec_container .career_wrap {
    margin: 0 calc(50% - 50vw);
    width: 94vw;
    margin-top: 40px;
  }
}
#career .sec_container .career_wrap::before {
  content: "";
  background-image: linear-gradient(0deg, black 50%, transparent 50%);
  background-size: 100% 4px;
  position: absolute;
  left: 0;
  height: 84%;
  width: 1px;
  z-index: 10;
  top: 2.5%;
  left: 4%;
}
#career .sec_container .career_wrap dl {
  width: 100%;
  font-size: clamp(14px, 1.04vw, 20px);
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  #career .sec_container .career_wrap dl {
    font-size: 12px;
  }
}
#career .sec_container .career_wrap dl dt {
  width: 100%;
  padding-left: 8rem;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: #F7F7F7;
  padding-bottom: clamp(10px, 3rem, 30px);
  padding-top: clamp(10px, 3rem, 30px);
  position: relative;
}
@media screen and (max-width: 768px) {
  #career .sec_container .career_wrap dl dt {
    padding-left: 30px;
  }
}
#career .sec_container .career_wrap dl dt::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 40%;
  left: 4%;
  transform: translate(-50%, 0%);
}
#career .sec_container .career_wrap dl dt time {
  display: inline-block;
  width: 12%;
}
@media screen and (max-width: 768px) {
  #career .sec_container .career_wrap dl dt time {
    width: 100%;
    padding-bottom: 10px;
  }
}
#career .sec_container .career_wrap dl dd {
  width: 100%;
  padding-left: calc(11% + 8rem);
  box-sizing: border-box;
  padding-bottom: clamp(10px, 3rem, 30px);
  padding-top: clamp(10px, 3rem, 30px);
}
@media screen and (max-width: 768px) {
  #career .sec_container .career_wrap dl dd {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  #career .sec_container .career_wrap dl dd p {
    line-height: 2;
  }
}

.career_img {
  width: 84%;
}
@media screen and (max-width: 768px) {
  .career_img {
    width: 94%;
  }
}
.career_img img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #story {
    padding-top: 40px;
  }
  #story .center_ttl {
    margin-bottom: 30px;
  }
}
#story p {
  font-size: clamp(12px, 0.83vw, 16px);
  line-height: 2;
  text-align: center;
}
#story a.common_btn {
  margin-right: auto;
  margin-left: auto;
  width: 240px;
  display: block;
}
#story .story_wrap {
  margin-top: clamp(70px, 8rem, 80px);
  margin-bottom: clamp(120px, 30rem, 300px);
}
@media screen and (max-width: 768px) {
  #story .story_wrap {
    margin-top: 40px;
  }
}
#story .story_wrap dl {
  background: #F7F7F7;
  color: #000;
  margin-bottom: 10px;
  font-weight: normal;
  align-items: center;
}
#story .story_wrap dl dt {
  font-size: clamp(18px, 1.25vw, 24px);
  border-right: 1px solid #000;
  width: 6%;
  line-height: 2;
  box-sizing: border-box;
  padding-left: clamp(20px, 4rem, 30px);
  padding-right: clamp(20px, 4rem, 30px);
}
@media screen and (max-width: 768px) {
  #story .story_wrap dl dt {
    border-right: none;
    border-bottom: 1px solid #000;
    padding-left: 0;
    margin-left: 15px;
    margin-top: 10px;
  }
}
#story .story_wrap dl dd {
  font-size: clamp(14px, 1.04vw, 20px);
  width: 93%;
  box-sizing: border-box;
  padding: clamp(20px, 4rem, 30px);
  justify-content: flex-start;
  line-height: 2;
  font-weight: normal;
  position: relative;
}
@media screen and (max-width: 768px) {
  #story .story_wrap dl dd {
    width: 100%;
    padding: 15px;
  }
}
#story .story_wrap dl dd h3 {
  font-weight: normal;
}
#story .story_wrap dl dd a {
  background-color: #fff;
  justify-content: space-around;
  width: 160px;
  text-align: center;
  padding: 10px 0;
  align-items: center;
  color: #000;
  font-size: clamp(12px, 0.83vw, 16px);
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  #story .story_wrap dl dd a {
    width: 140px;
    top: -47px;
    right: 8px;
    bottom: auto;
  }
}
#story .story_wrap a.common_btn {
  margin-right: auto;
  margin-left: auto;
  width: 240px;
  display: block;
}
#story .story_content {
  width: 84%;
  margin-bottom: clamp(80px, 20rem, 200px);
}
@media screen and (max-width: 768px) {
  #story .story_content {
    width: 100%;
  }
}
#story .story_content .story_text {
  width: 50%;
}
@media screen and (max-width: 768px) {
  #story .story_content .story_text {
    width: 89%;
    margin-right: auto;
    margin-left: auto;
  }
}
#story .story_content .story_text h4 {
  font-weight: normal;
  margin-bottom: clamp(70px, 8rem, 80px);
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  #story .story_content .story_text h4 {
    margin-bottom: 40px;
  }
}
#story .story_content .story_text h4 small {
  display: block;
  font-size: clamp(12px, 0.83vw, 16px);
}
@media screen and (max-width: 768px) {
  #story .story_content .story_text h4 small {
    font-size: 10px;
    line-height: 2;
  }
}
#story .story_content .story_text h4 span {
  font-size: clamp(20px, 1.5vw, 30px);
}
@media screen and (max-width: 768px) {
  #story .story_content .story_text h4 span {
    font-size: 15px;
  }
}
#story .story_content .story_text div p {
  font-size: clamp(14px, 1.04vw, 20px);
  line-height: 2;
  text-align: left;
  max-height: 700px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  box-sizing: border-box;
}
#story .story_content .story_text div p::-webkit-scrollbar {
  width: 2px;
}
#story .story_content .story_text div p::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}
#story .story_content .story_text div p::-webkit-scrollbar-track {
  background-color: #BABABA;
}
@media screen and (max-width: 768px) {
  #story .story_content .story_text div p {
    font-size: 12px;
    max-height: inherit;
  }
}
#story .story_content .story_text div p span {
  display: block;
  margin-bottom: clamp(10px, 3rem, 30px);
}
@media screen and (max-width: 768px) {
  #story .story_content .story_text div p span {
    margin-bottom: 20px;
  }
}
#story .story_content .story_thumb {
  width: 40%;
  padding-top: 40%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  min-height: 750px;
}
@media screen and (max-width: 768px) {
  #story .story_content .story_thumb {
    width: 94%;
    margin-right: auto;
    min-height: 1px;
    padding-top: 0;
    height: 200px;
    margin-bottom: 30px;
  }
}
#story .story_content .thumb_01 {
  background-image: url(../../images/story_01.jpg);
  background-position: top center;
}
@media screen and (max-width: 768px) {
  #story .story_content .thumb_01 {
    background-image: url(../../images/story_01_sp.jpg);
  }
}
#story .story_content .thumb_02 {
  background-image: url(../../images/story_02.jpg);
  background-position: top center;
}
@media screen and (max-width: 768px) {
  #story .story_content .thumb_02 {
    background-image: url(../../images/story_02_sp.jpg);
  }
}
#story .story_content .thumb_03 {
  background-image: url(../../images/story_03.jpg);
  background-position: top center;
}
@media screen and (max-width: 768px) {
  #story .story_content .thumb_03 {
    background-image: url(../../images/story_03_sp.jpg);
  }
}
#story .story_content .thumb_04 {
  background-image: url(../../images/story_04.jpg);
  background-position: top center;
}
@media screen and (max-width: 768px) {
  #story .story_content .thumb_04 {
    background-image: url(../../images/story_04_sp.jpg);
  }
}
#story .story_content .thumb_05 {
  background-image: url(../../images/story_05.jpg);
  background-position: top center;
}
@media screen and (max-width: 768px) {
  #story .story_content .thumb_05 {
    background-image: url(../../images/story_05_sp.jpg);
  }
}
#story .story_left {
  margin-right: auto;
  margin-left: 0;
}
#story .story_right {
  margin-left: auto;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  #story .story_right .story_text {
    order: 2;
  }
  #story .story_right .story_thumb {
    order: 1;
    margin-right: 0;
    margin-left: auto;
  }
}
#story .story_content_3 {
  flex-wrap: wrap;
  justify-content: flex-start;
}
#story .story_content_3 .story_thumb {
  width: 100%;
  max-height: 480px;
  padding-top: 30%;
  box-sizing: border-box;
  min-height: 1px;
  margin-bottom: clamp(70px, 8rem, 80px);
}
#story .story_content_3 .story_text {
  margin-left: 18.625%;
}
@media screen and (max-width: 768px) {
  #story .story_content_3 .story_text {
    margin-left: auto;
    margin-right: auto;
    width: 89%;
  }
}/*# sourceMappingURL=profile.css.map */